{% extends 'core/base.html' %}

{% block content %}


<div class="w-full self-center px-4 lg:w-1/3">
    <h1 class="text-base font-semibold text-teal-600 md:text-xl lg:text-2xl"> Form
    <span class="mt-1 text-4xl block font-bold text-slate-900">Bantek 050</span></h1>
    <h2 class="font-medium text-slate-500 text-lg mb-5">Bantuan Teknis Komputer dan Data  <br>
    <span class="text-slate-900 lg:text-sm">Bidang Data dan Pengawasan Potensi Perpajakan</span></h2>
    <p class="font-medium text-slate-400 mb-10 leading-relaxed">
    Sinergi Kuat, Sumbarja Hebat,  
    <span class="text-slate-900 font-bold">Kanwil 050 Melesat!!</span></p>
</div>

<div class="form-container">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p|safe }}

        <button type="submit">Submit</button>
    </form>
</div>



<script>
    function toggleNightMode() {
        document.body.classList.toggle('night-mode');
        document.querySelector('.form-container').classList.toggle('night-mode');
    }
</script>


{% endblock %}
