/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
} */

.form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    transition: background-color 0.5s, color 0.5s;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    background-color: teal;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: teal;
}

.form-container button[type="reset"] {
    background-color: #f44336;
}

.form-container button[type="reset"]:hover {
    background-color: #d32f2f;
}

.night-mode {
    background-color: #333;
    color: #fff;
}